language: cpp
cache: ccache
sudo: false

env:
  global:
  # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
  #   via the "travis encrypt" command using the project repo's public key
  - secure: "TeCvKNvV4eowHQ/yl4n7uzYBHSknuASlctf706pcoJsxmXe75qiyi67GnC8Vuyb/q1mzARCL/RwYXshkIfOCV1I2hiYOt/ImvUsL/ATCWE0foBdla+BCbUj0RsTthvD4roQr+fIdvLLQ6wiQEam62MfCGv9NApNCmh8W/EYOLHZOTTmQ0K0DcCTK0cPa8qyGfT5YYj41RMVNNYScjvOQ9sFM9tFpS4qW3RWiH2IOWfZJ0g1s7SG0zpSzosYeBChD7jpfaunxw+btuGbsSlb8QMAR3qE3E2HNaOph4qTasCS2r54Fu/LUTmSGPR/5Tyx7p7j6tss84gI5dWx/3SbZqPpWkLsyIrhQ+lNgYVq0I46Kj5TBSpuE4Ac1QJ4Yh4rLzy7H7YHWUgXh63dlUM0UOhnhog49Z8Uy8RkP0e/fjdjqUkojFkWePfE2irlXwRzut6epCBaO23sB4nu7xz7FQmT6CJCot8Z16Y3UEAOh1sdBsfQ1dCNCvw1B6e+B3u8E0zu070Ie+N5Zjkzv0mdi5YpB171hYf+d/URHURQJXDZGRJs2h3OqCwbJ5FncqhH/fCAGJ8lVdNxnH/JGAbSrB9gdpu6FtJYQTItdIBBx6WxS6inTgB+DtgFXk4m4+o/iYt4rGrtp+DA2UR2/X1YbTBwGxMBmKI5QaWPENKNMqDc="

before_install:
  - echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

addons:
  coverity_scan:
    project:
      name: "nickbroon/vermont"
      description: "IPFIX Flow Monitoring framework"
    notification_email: nickbroon@gmail.com
    build_command_prepend: "cmake -DCMAKE_BUILD_TYPE=Debug"
    build_command: "make"
    branch_pattern: coverity_scan
  apt:
    sources: &zeromq_source
      - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/ ./'
        key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/Release.key' 
    sources: &zeromq_source_and_toolchain_gcc
      - ubuntu-toolchain-r-test
      - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/ ./'
        key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/Release.key'     
    sources: &zeromq_source_and_toolchain_clang_3-8
      - llvm-toolchain-trusty-3.8
      - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/ ./'
        key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/Release.key'      
    sources: &zeromq_source_and_toolchain_clang_4-0
      - llvm-toolchain-trusty-4.0
      - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/ ./'
        key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/Release.key'      
    sources: &zeromq_source_and_toolchain_clang_5-0
      - llvm-toolchain-trusty-5.0
      - sourceline: 'deb http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/ ./'
        key_url: 'http://download.opensuse.org/repositories/network:/messaging:/zeromq:/release-stable/xUbuntu_14.04/Release.key'      
    packages: &required_packages
      - cmake
      - libboost-dev
      - libboost-filesystem-dev
      - libboost-regex-dev
      - libboost-test-dev
      - libboost-thread-dev
      - libxml2-dev
      - libpcap-dev
      - libsystemd-journal-dev
      - libsctp-dev
    packages: &optional_packages
      - libssl-dev
      - libczmq-dev

matrix:
  include:
    - compiler: gcc
      sudo: true
      before_install:
        - sudo apt-get remove -qq libssl-dev
      env:
        - DTLS="OFF" ZMQ="OFF" BUILD_TYPE="RelWithDebInfo"
      addons:
        apt:
          packages:
            - *required_packages
            
    - compiler: clang
      sudo: true
      before_install:
        - sudo apt-get remove -qq libssl-dev
      env:
        - DTLS="OFF" ZMQ="OFF" BUILD_TYPE="RelWithDebInfo"
      addons:
        apt:
          packages:
            - *required_packages
 
    - compiler: gcc
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo"
      addons:
        apt:
          sources: *zeromq_source
          packages:
            - *required_packages
            - *optional_packages
    - compiler: gcc
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="Debug"
      addons:
        apt:
          sources: *zeromq_source
          packages:
            - *required_packages
            - *optional_packages
    - compiler: gcc-5
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=gcc-5 CXX=g++-5"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_gcc
          packages:
            - *required_packages
            - *optional_packages
            - g++-5
    - compiler: gcc-6
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=gcc-6 CXX=g++-6"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_gcc
          packages:
            - *required_packages
            - *optional_packages
            - g++-6
    - compiler: gcc-7
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=gcc-7 CXX=g++-7"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_gcc
          packages:
            - *required_packages
            - *optional_packages
            - g++-7

    - compiler: clang
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo"
      addons:
        apt:
          sources: *zeromq_source
          packages:
            - *required_packages
            - *optional_packages
    - compiler: clang
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="Debug"
      addons:
        apt:
          sources: *zeromq_source
          packages:
            - *required_packages
            - *optional_packages
    - compiler: clang-3.8
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=clang-3.8 && CXX=clang++-3.8"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_clang_3-8
          packages:
            - *required_packages
            - *optional_packages
            - clang-3.8
    - compiler: clang-4.0
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=clang-4.0 && CXX=clang++-4.0"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_clang_4-0
          packages:
            - *required_packages
            - *optional_packages
            - clang-4.0                        
    - compiler: clang-5.0
      env:
        - DTLS="ON" ZMQ="ON" BUILD_TYPE="RelWithDebInfo" MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
      addons:
        apt:
          sources: *zeromq_source_and_toolchain_clang_5-0
          packages:
            - *required_packages
            - *optional_packages
            - clang-5.0
            
before_install:
  - eval "${MATRIX_EVAL}"

script:
  - 'if [ ${COVERITY_SCAN_BRANCH} != 1 ]; then
        cmake -DCMAKE_INSTALL_PREFIX=/tmp -DCMAKE_BUILD_TYPE="$BUILD_TYPE" -DSUPPORT_JOURNALD=ON -DSUPPORT_DTLS="$DTLS" -DSUPPORT_ZMQ="$ZMQ" . && make -k && make test && make install;
     fi'
